{% extends "base.html" %}

{% block main_content %}

{% if alert.name %}
<h2>{{ alert.name }}</h2>
{% else %}
<h2>{{ alert.id }}</h2>
{% endif %}

<form method="POST" action="">
    <div class="form-group row">
        <label for="staticId" class="col-sm-2 col-form-label">Alert Id</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticId" value="{{ alert.id }}">
        </div>
    </div>
    <div class="form-group row">
        <label for="staticName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="staticName" value="{{ alert.name }}" name="name">
        </div>
    </div>
    <div class="form-group row">
        <label for="staticCreated" class="col-sm-2 col-form-label">Created by</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticCreated" value="{{ alert.user_id }}">
        </div>
    </div>
    <div class="form-group row">
        <label for="staticData" class="col-sm-2 col-form-label">Data</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="staticData" value="{{ data }}" name="data">
        </div>
    </div>
    <div class="form-group row">
        <label for="staticData" class="col-sm-2 col-form-label">Solution</label>
        <form action="" method="post" class="col-sm-10">
            {{ form.csrf_token }}

            {{ form.solutions_list }}
            <input type="submit" class="btn btn-dark" value="Select">
        </form>
    </div>

    {% if not saved %}
    <button class="btn btn-danger" type="submit">Update</button>
    {% else %}
    <button class="btn btn-success" type="submit">Update</button>
    {% endif %}
</form>
{% endblock %}