{% extends "base.html" %}

{% block main_content %}

<form action="{{ url_for('main.create_solution') }}" method="POST">
    <h2>Create Solution</h2>
    <div class="form-group">
        <label for="forName">Name</label>
        <input type="text" class="form-control" id="forName" aria-describedby="nameHelp" name="name">
        <small id="nameHelp" class="form-text text-muted">Set any name for the solution</small>
    </div>
    <div class="form-group row">
        <label for="sol_playbook" class="col-sm-4 col-form-label">Playbook</label>
        <div class="col-sm-4" form="updateUserForm">
            <select id="sol_playbook_select" name="sol_playbook_select" class="browser-default custom-select">
                <option selected for="playbookSel">Select Playbook</option>
                {% for playbook in playbooks %}
                <option value="{{ playbook.id }}"> {{ playbook.name }} </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="sol_var_group" class="col-sm-4 col-form-label">Variable Group</label>
        <div class="col-sm-4" form="updateUserForm">
            <select id="sol_var_group_select" name="sol_var_group_select" class="browser-default custom-select">
                <option selected for="playbookSel">Select Variable Group</option>
                {% for var_group in var_groups %}
                <option value="{{ var_group.id }}"> {{ var_group.name }} </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}