{% extends "base.html" %}

{% block main_content %}
<div class="row">
    <h2 class="col-sm-3">Alerts</h2>
    <form class="col-sm-5" action="{{ url_for('main.create_alert') }}" method="GET" style="text-align: left;">
        <input type="submit" class="btn btn-outline-success" value="&#43;">
    </form>
    <form class="col-sm-3" action="{{ url_for('main.search_alerts') }}" method="POST" id="queryForm"
        style="text-align: right;">
        <input type="text" class="form-control" name="query" id="query">
    </form>
    <div class="col-sm-1">
        <button type="submit" class="btn btn-outline-primary" form="queryForm">&#63;</button>
    </div>
</div>
<div class="list_table">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    Alert Id
                </th>
                <th>
                    Alert Name
                </th>
                <th>
                    User Id
                </th>
                <th>
                    Solution Id
                </th>
                <th>
                    Solved
                </th>
                <th>

                </th>
            </tr>
        </thead>
        {% for alert in alerts %}
        <tr>
            <td>
                {{ alert.id }}
            </td>
            <td>
                {{ alert.name }}
            </td>
            <td>
                {{ alert.user_id }}
            </td>
            <td>
                {{ alert.solution_id }}
            </td>
            <td>
                {{ alert.solved }}
            </td>
            <td>
                <a href="{{ alert.get_app_url() }}">
                    View
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}