{% extends "base.html" %}

{% block main_content %}
<div class="row">
    <h2 class="col-sm-3">Alerts</h2>
    <form class="col-sm-5" action="{{ url_for('main.create_alert') }}" method="GET" style="text-align: left;">
        <input type="submit" class="btn btn-outline-success" value="&#43;">
    </form>
    <form class="col-sm-3" action="{{ url_for('main.search_alerts') }}" method="POST" id="queryForm"
        style="text-align: right;">
        <input type="text" class="form-control" name="query" id="query">
    </form>
    <div class="col-sm-1">
        <button type="submit" class="btn btn-outline-primary" form="queryForm">&#63;</button>
    </div>
</div>
<div>
    {% for alert in alerts %}
    {% if alert.solved == False %}
    <div class="alert alert-danger" role="alert">
        {% else %}
        <div class="alert alert-secondary" role="alert">
            {% endif %}
            <div class="row">
                <div class="col-sm">
                    <p class="h2">
                        <a href="{{ alert.get_app_url() }}" class="alert-link">{{ alert.name }}</a>
                    </p>
                </div>

                <div class="col-sm">
                    <div style="text-align: right;"><a href="{{ alert.get_app_url() }}"><i class="fa fa-wrench"
                                aria-hidden="true"></i></a>
                        <div style="text-align: right;"><a href="{{ alert.get_app_url() }}"><i
                                    class="fas fa-eye"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% endblock %}