{% extends "base.html" %}

{% block main_content %}
<div class="row">
    <h2 class="col-sm-5">Variable Groups</h2>
    <form class="col-sm-3" action="{{ url_for('main.create_var_group') }}" method="GET" style="text-align: left;">
        <input type="submit" class="btn btn-outline-success" value="&#43;">
    </form>
    <form class="col-sm-3" action="{{ url_for('main.search_var_groups') }}" method="POST" id="queryForm"
        style="text-align: right;">
        <input type="text" class="form-control" name="query" id="query">
    </form>
    <div class="col-sm-1">
        <button type="submit" class="btn btn-outline-primary" form="queryForm">&#63;</button>
    </div>
</div>
<div class="list_table">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    Group Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Variable List
                </th>
                <th>
                    Creator
                </th>
                <th>
                    Solution
                </th>
                <th>

                </th>
            </tr>
        </thead>
        {% for group in var_groups %}
        <tr>
            <td>
                {{ group.id }}
            </td>
            <td>
                {{ group.name }}
            </td>
            <td>
                {{ group.variables }}
            </td>
            <td>
                {{ group.user_id }}
            </td>
            <td>
                <a href="{{ group.get_app_url() }}">
                    View
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}