{% extends "base.html" %}

{% block main_content %}

{% if var_group.name %}
<h2>{{ var_group.name }}</h2>
{% else %}
<h2>{{ var_group.id }}</h2>
{% endif %}

<form>
    <div class="form-group row">
        <label for="staticId" class="col-sm-2 col-form-label">Group Id</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticId" value="{{ solution.id }}">
        </div>
    </div>
    <div class="form-group row">
        <label for="staticName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticName" value="{{ solution.name }}">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputCreator" class="col-sm-2 col-form-label">Creator</label>
        <div class="col-sm-10">
            <input type="textfield" class="form-control" id="inputCreator" value="{{ var_group.user_id }}">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPaybook" class="col-sm-2 col-form-label">Solution</label>
        <div class="col-sm-10">
            <input type="textfield" class="form-control" id="inputPaybook" value="{{ var_group.solution_id }}">
        </div>
    </div>
</form>
{% endblock %}